:root {
    --SULwhite: #fff;
    --SULorange: #e86e25;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--SULwhite);
    background-image: url(edm_bg.jpg);
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.safeText {
    color: black;
    text-align: center;
    font-size: 0.8rem;
    font-family: futurastdmedium, noto sans tc, Arial, 微軟正黑體, microsoft jhenghei, sans-serif;
}

.row {
    align-items: center !important;
}

.bomWBG {
    background-color: var(--SULwhite);
}

.SULImageAN {
    transition-duration: .3s;
}

.SULImageAN:hover {
    transition-duration: .3s;
    filter: brightness(1.0);
    -webkit-filter: brightness(1.0);
    transform: scale(0.97);
}

.SULscaleAN {
    transition-duration: .3s;
}

.SULscaleAN:hover {
    transform: scale(0.97);
    cursor: pointer;
}


.SULPositionAN {
    transform: translate(0, 0);
    transition-duration: .3s;
}

.SULPositionAN:hover {
    /* 滿額贈hover動態  */
    transform: translate(0, -8px);
}

.carousel2102 {
    margin-top: -42%;
}

.Area_SULnavbar {
    background-color: black;
    padding: 0;
}

.SULnavbar a {
    color: var(--SULwhite);
    background: black;
    transition-duration: .3s;
    font-family: futurastdmedium, noto sans tc, Arial, 微軟正黑體, microsoft jhenghei, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    border-left: var(--SULwhite) 2px solid;
    padding: 0;
}

.SULnavbar a:first-child {
    border-left: none;

}

/* 選單hover動態 */
.SULnavbar a:hover {
    color: var(--SULorange);
}

@media screen and (max-width: 768px) {

    .col-6:hover {
        filter: none;
        -webkit-filter: none;
        background-image: none;
    }
    .container>.row,
    .mbBG {
        background-image: url(edm_bg.jpg);
        background-color: #fff;
        background-position: top center;
        background-attachment: fixed;
        background-size: cover;
        background-position: 50% 50%;

    }

    .Area_SULnavbar {
        margin-bottom: 0 !important;
    }

    .Area_SULnavbar .Area_SULnavbar_box {
        display: inline-flex;
        width: auto;
        max-width: inherit;
        overflow-y: hidden;
        overflow-x: auto;
        justify-content: flex-start !important;
        -webkit-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        -ms-overflow-scrolling: touch;
        -o-overflow-scrolling: touch;
        padding-bottom: 0.5em;
        padding: .8em 0em;
    }

    .SULnavbar {
        flex-wrap: nowrap;
        align-items: center;
    }

    .SULnavbar a {
        color: var(--SULwhite);
        background: black;
        opacity: 1;
        white-space: nowrap;
        padding: 0em 1em;
    }

    .SULnavbar a:hover {
        color: var(--SULwhite);
    }

    .SULnavbar a:last-child {
        margin-right: 0;
    }
}



#SULScrolltoTopBtn {
    width: 70px;
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: auto;
    opacity: 0;
    transition-duration: .3s;
    z-index: 99;
}

#SULScrolltoTopBtn:hover {
    cursor: pointer;
    opacity: 1;
}

/* Swiper樣式區域 */
.SULswiper {
    --swiper-theme-color: var(--SULorange);
    --swiper-navigation-color: var(--SULwhite);
    --swiper-navigation-size: 30px;
}

.swiper-pagination {
    width: 100%;
    left: 0%;
    bottom: 5%;
    /* --swiper-pagination-color: #cf0000; */
}

.SULstepswiper .swiper-pagination {
    width: 100%;
    left: 0%;
    bottom: 0%;
    /* --swiper-pagination-color: #cf0000; */
}

.swiper-wrapper {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .swiper-pagination {
        bottom: 5%;
    }

    .swiper-wrapper {
        min-height: 125vw;
    }

    .SULstepswiper .swiper-wrapper {
        min-height: 50vw;
    }
}